<h1>System Admin Exam</h1>

<%= form_with url: finish_questions_path, method: :post do %>
  <% @questions.each do |question| %>
    <div>
      <strong><%= question.content %></strong>
      <% question.choices.each do |choice| %>
        <div>
          <%= radio_button_tag "answer_#{question.id}", choice.content %>
          <%= choice.content %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= submit_tag "Finish & Test" %>
<% end %>
